* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  background-color: yellow; }
  header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid white;
    margin: 0;
    padding: 0; }
    header label :hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.3); }
  header img {
    width: 30px;
    height: 30px; }

.menu ul {
  margin: 0;
  margin-top: 5px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: row; }
  .menu ul li :hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3); }
  .menu ul li a {
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none; }

#btn-menu {
  display: none; }

@media (max-width: 768px) {
  header label {
    display: block; }
  .menu {
    position: absolute;
    background: yellow;
    width: -70%;
    margin-left: 100%;
    transition: all 0.5s; }
  .menu li {
    border-top: 2px solid white;
    display: flex;
    flex-direction: row; }
  #btn-menu:checked ~ .menu {
    margin: 0; }
  .carrousel-trans {
    padding-top: 35px; } }

.catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  padding: 20px;
  grid-gap: 16px; }

.fotogrid {
  width: 100%;
  height: 100%;
  object-fit: cover; }

@media (max-width: 768px) {
  .catalogo {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 390px) {
  .catalogo {
    grid-template-columns: repeat(1, 1fr);
    margin: auto; } }

.container .heading {
  font-size: 3rem;
  margin: 2rem 0;
  text-transform: capitalize;
  color: var(--purple);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: .2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); }

.video-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.video-container .video {
  height: 15rem;
  width: 25rem;
  margin: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 1rem; }

.trailer {
  height: 100%;
  width: 100%;
  object-fit: cover;
  outline: none;
  border: none;
  cursor: pointer; }

.trailer:hover {
  transition: .2s linear;
  transform: scale(1.3); }

.slide {
  margin-top: 10px; }
  .slide img {
    height: 400px;
    width: 100%; }

footer {
  background-color: black;
  width: 100%;
  height: 5em;
  padding-top: 40px; }

footer {
  background-color: black;
  width: 100%;
  height: 25em;
  padding-top: auto;
  margin-top: 12rem;
  color: white; }

.contenedor-footer {
  width: 100%;
  max-width: 1200px;
  margin: auto; }

.contenedor-parcial {
  display: flex;
  justify-content: center;
  justify-content: space-between; }
  .contenedor-parcial div {
    max-width: 400px; }
    .contenedor-parcial div h3 {
      font-size: 22px; }
    .contenedor-parcial div p {
      font-size: 14px;
      color: black;
      margin-top: 20px;
      color: white; }
  .contenedor-parcial div {
    max-width: 400px; }
    .contenedor-parcial div div {
      margin-top: 20px;
      display: flex; }
      .contenedor-parcial div div img {
        width: 36px;
        height: 36px; }
  .contenedor-parcial div {
    max-width: 400px; }

.mapa h1 {
  font-family: serif;
  font-size: 35px;
  font-style: italic;
  font-weight: bold; }

.letra-titulo {
  text-align: center;
  margin-top: 5em;
  font-family: cursive;
  font-size: 35px;
  font-style: normal;
  font-weight: bolder; }

body {
  background-image: url(../img/fondo4.jpg); }

.fotografias {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center; }

.efecto {
  position: relative;
  width: 800px;
  height: 600px; }

.cara {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.efecto .cara span {
  width: 200px;
  height: 100%;
  transition: .5s; }

.efecto .cara1 span {
  background: url(../img/clasico1.jpg);
  transform-origin: top; }

.efecto :hover .cara1 span {
  transform: rotateX("90deg") translateY(-50%); }
