* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  background-color: yellow;
  height: 75px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  header label {
    display: none;
    width: 100%;
    height: 5px;
    padding: 35px;
    border-radius: 2px;
    border-right: 1px solid white; }
    header label :hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.3); }
  header img {
    width: 35px;
    height: 35px;
    margin-bottom: 5em; }

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end; }
  .menu ul li :hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3); }
  .menu ul li a {
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
    border-radius: 15px; }

#btn-menu {
  display: none; }

@media (max-width: 780px) {
  header label {
    display: block; }
  .menu {
    position: absolute;
    background: blue;
    width: 100%;
    margin-left: -100%;
    margin-top: 5em;
    transition: all 1s; }
    .menu ul {
      flex-direction: row; }
    .menu li {
      border-right: 2px solid #070707;
      border-radius: 10px;
      height: .1px; }
  #btn-menu:checked ~ .menu {
    margin: 0;
    padding-left: 90%;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end; }
  .carrousel-trans {
    margin-top: 5em; } }

.catalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  padding: 20px;
  grid-gap: 16px;
  object-fit: cover; }

.fotogrid {
  width: 100%;
  height: 100%;
  object-fit: cover; }

@media (max-width: 768px) {
  .catalogo {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 390px) {
  .catalogo {
    grid-template-columns: repeat(1, 1fr);
    margin: auto; } }

.container .heading {
  font-size: 3rem;
  margin: 2rem 0;
  text-transform: capitalize;
  color: var(--purple);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: .2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); }

.video-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.video-container .video {
  height: 15rem;
  width: 25rem;
  margin: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 1rem; }

.trailer {
  height: 100%;
  width: 100%;
  object-fit: cover;
  outline: none;
  border: none;
  cursor: pointer; }

.trailer:hover {
  transition: .2s linear;
  transform: scale(1.3); }

.slide {
  margin-top: 10px; }
  .slide img {
    height: 400px;
    width: 100%; }

.movie {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  border-radius: 15px; }

.movie-1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 50%;
  height: 480px;
  border-radius: 15px; }
  .movie-1 img {
    width: 33em;
    height: 480px;
    border-radius: 15px; }

.movie-2 {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 33em;
  height: 480px;
  text-align: center;
  border-radius: 15px; }

.movie-3 {
  display: flex;
  justify-content: flex-end;
  width: 33em;
  height: 480px;
  border-radius: 15px; }

@media (max-width: 768px) {
  .movie {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 3em; }
  .movie-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 15px; }
    .movie-1 img {
      width: 90%;
      height: 400px;
      object-fit: cover; }
  .movie-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%; }
  .movie-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    object-fit: cover; }
  .movie-4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; } }

@media (max-width: 390px) {
  .movie {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center; }
  .movie-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 15px; }
    .movie-1 img {
      width: 90%;
      height: 400px;
      object-fit: cover; }
  .movie-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%; }
  .movie-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    object-fit: cover; }
  .movie-4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; } }

.mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh; }
  .mapa h1 {
    text-align: center;
    margin-top: 4em; }
  .mapa .mapa2 {
    margin-bottom: 7em; }
  .mapa .mapa3 {
    margin-bottom: 5em;
    margin-left: 4em; }

.letra-titulo {
  text-align: center;
  margin: 0;
  background-color: white; }

.registracion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0; }
  .registracion .row {
    margin: 0;
    margin-left: 2em;
    margin-top: 5em;
    text-align: center; }

#telefono {
  background: white;
  color: black;
  text-align: center;
  font-family: fantasy;
  font-size: 45px;
  font-style: italic;
  font-weight: bold;
  margin-top: 4em; }

.telefono1 {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  width: 50%;
  font-family: fantasy;
  font-weight: bolder;
  margin-left: 25%;
  margin-top: 2em;
  text-align: center; }

footer {
  background-image: url(../img/fondo1.jpg);
  background-size: 100%;
  width: 100%;
  height: 100%;
  padding-top: auto;
  margin-top: 12rem;
  color: white; }

.contenedor-footer {
  width: 100%; }

.contenedor-parcial {
  display: flex;
  justify-content: center;
  width: 100%; }
  .contenedor-parcial div {
    width: 100%; }
    .contenedor-parcial div div {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contenedor-parcial div div img {
        width: 36px;
        height: 36px; }
  .contenedor-parcial h3 {
    text-align: center; }
  .contenedor-parcial p {
    text-align: center;
    margin-top: 2em; }

.letra-titulo {
  text-align: center;
  margin-top: 5em;
  font-family: cursive;
  font-size: 35px;
  font-style: normal;
  font-weight: bolder; }

@media (max-width: 780px) {
  .contenedor-footer {
    width: 100%;
    height: 100vh; }
  .contenedor-parcial {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column; }
  .columna1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35vh;
    text-align: center;
    justify-content: space-around; }
    .columna1 h3 {
      text-align: center;
      justify-content: center;
      margin-top: 1em; }
    .columna1 p {
      text-align: center;
      margin-top: 1em; }
  .columna2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25vh;
    text-align: center;
    justify-content: center;
    margin-bottom: 3em; }
    .columna2 h3 {
      text-align: center;
      margin-top: 1em; }
  .columna3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
    text-align: center;
    justify-content: space-around;
    margin-top: 1em; }
    .columna3 h3 {
      text-align: center;
      margin-top: 4em; }
  label {
    text-align: center;
    justify-content: center; } }

@media (max-width: 390px) {
  .contenedor-footer {
    width: 100%;
    height: 110vh; }
  .columna1 {
    display: none; }
  .columna2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
    text-align: center;
    justify-content: space-around;
    margin-top: 6em; }
    .columna2 h3 {
      text-align: center;
      margin-top: 4em; }
  .columna3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
    text-align: center;
    justify-content: space-around;
    margin-top: 8em; }
    .columna3 h3 {
      text-align: center;
      margin-top: 4em; } }

body {
  background-image: url(../img/fondo4.jpg);
  background-size: 100%; }

.mapa h1 {
  font-size: 50px;
  font-family: fantasy;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;
  text-align: center;
  width: 100%; }

.titulo-mapa1 {
  text-align: center;
  margin: 25px;
  width: 100%;
  height: 5vh; }

.mapa2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 25px; }
  .mapa2 .mapa3 {
    width: 700px;
    height: 300px;
    padding: 35px;
    margin-top: 55px;
    margin-left: 55px; }

.letra-titulo {
  font-size: 50px;
  font-family: fantasy;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 35px; }

.row {
  margin-top: 70px;
  margin-left: 350px; }

@media (max-width: 350px) {
  .registracion .row .mapa2 {
    display: flex;
    flex-direction: row; } }

.cajadiv {
  width: 100%;
  height: 100%;
  margin: 50px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin-right: 2em; }
  .cajadiv h2 {
    font-size: 3em;
    font-family: fantasy;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
    background-image: url(../img/fondoh2.webp); }

.caja {
  width: 350px;
  height: 300px;
  margin: auto;
  -webkit-perspective: 700; }
  .caja .presentacion {
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
    margin: 0; }

.presentacion:hover {
  transform: rotateY(180deg); }

.lado {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute; }

.frente {
  background: black;
  border: 2px solid black;
  border-radius: 50%; }
  .frente img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; }

.atras {
  background: greenyellow;
  transform: rotateY(180deg);
  border-radius: 50%;
  text-align: center; }
  .atras p {
    font-size: 1em;
    font-family: fantasy;
    text-align: center; }

@media (max-width: 390px) {
  .cajadiv {
    display: flex;
    flex-direction: column;
    margin: -10px;
    justify-content: center;
    text-align: center; }
    .cajadiv .presentacion {
      margin-left: -10px; }
    .cajadiv h2 {
      background-position: center; }
    .cajadiv img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%; }
  .caja {
    width: 265px;
    height: 265px;
    justify-content: center; } }
