.mapa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
    
    h1{
        text-align: center;
        margin-top: 4em;
        

    }
    .mapa2{
        
        margin-bottom:7em ;
    }
    .mapa3{
        margin-bottom: 5em;
        margin-left: 4em;
    }

}
.letra-titulo{
    text-align: center;
    margin: 0;
    background-color: white;
}
.registracion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    .row{
        margin: 0;
        margin-left: 2em;
        margin-top: 5em;
        text-align: center;
    }
}
#telefono{
    background: white;
    color: black;
    text-align: center;
    font-family: fantasy;
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
    margin-top: 4em;

}
.telefono1{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    width: 50%;
    font-family: fantasy;
    font-weight: bolder;
    margin-left: 25%;
    margin-top: 2em;
    text-align: center;
    
}

