.novedades {
    display: flex;
    padding-top: 130px;
    max-width: 1200px;
    min-height: 100vh;

}

.curiosidades {
    width: 100%;
    height: 500px;
    padding: 80px;
    margin-top: 50px;

    img {
        height: 300px;
    }
}

.nosotros {
    display: flex;
    margin-top: 60px;

    div {
        border: solid 5px black;
    }
}
